{
  "Settings": {
    "defaultLocale": "LOCALE_TO_BE_USED_AS_DEFAULT"
  },
  "OrganizationSettings":{
    "logo":"CUSTOMER_LOGO_URL",
    "name":"CUSTOMER_NAME"
  },
  "BaseURL": {
    "endpoint": "BASE_URL_FOR_CARD_SERVICE"
  },
  "Authorization": {
    "Token": "TOKEN"
  }
}
